.error-message {
  color: crimson;
}

.go-to-login {
  width: 100%;
  text-align: center;
}

.login-btn {
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background: transparent;
  color: #0b57d0;
  text-decoration: none;
  outline: none;
  &:hover {
    text-decoration: underline;
  }
}

.form-control-height {
  min-height: 94px;
}
