.product-card {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  padding: 10px 25px 10px 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 2px rgb(216 216 216 / 36%);
  &:hover {
    box-shadow: 2px 2px 6px 3px rgb(216 216 216 / 50%);
    background: #fbfbfb;
  }
}

.photo-block {
  width: fit-content;
  height: fit-content;
  img {
    height: 120px;
    width: 120px;
  }
}

.description-block {
  width: 100%;

  .product-name {
    margin-bottom: 16px;
    font-size: 20px;
    margin-bottom: 5px;
  }

  .product-manufacturer {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .product-description {
    font-size: 0.8rem;
  }
}

.controls-block {
  min-width: 150px;
  text-align: right;
  button {
    font-size: 12px;
  }
}
