.main-header {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #d7d7d7;
}

.profile-menu {
  padding-right: 25px;
}

.navigator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 25px;
}

.logo {
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-menu-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  border: none;
  background: transparent;
  position: relative;
}

.user-data {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: left;
  font-size: 0.8rem;
  line-height: 0.9rem;

  .name {
    font-weight: bold;
  }

  .email {
    color: #484848ee;
  }
}

.avatar {
  border: 1px solid #48484860;
  border-radius: 50%;
  background: transparent;
  width: 30px;
  height: 30px;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: left;
}

.menu {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 120px;
  right: 0;
  top: 37px;
  font-size: 1rem;
  border: 1px solid #48484830;
  border-radius: 3px;
  background: white;
  transition: all 0.4s ease;
  transition-delay: 0.2s;
  z-index: 2;
  li {
    padding: 5px 15px;
    cursor: pointer;
    text-align: left;
    &:hover {
      background: #48484810;
    }
    &:active {
      background: #48484820;
      transition: background 0.3s ease;
    }
  }
}
