* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: #1d1d1d;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  border: 1px solid #48484820;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(199, 199, 199);
  border: none;
  border-radius: 20px;
}
