* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: #1d1d1d;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}
