.main-content {
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 100%;

  @media (min-width: 1500px) {
    width: 80%;
    margin: 0 auto;
    grid-template-columns: 270px 1fr;
  }
}

.page-content {
  padding: 20px 30px 0 10px;
}

span[role='alert'] {
  color: red;
  font-size: 0.8rem;
}
