.product-list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list-paginator {
  text-align: center;
  width: 100%;
}
